# Build and dependencies
bin/
obj/
*.user
*.suo
*.cache
*.log
*.csproj.user

# IDE Configurations
.vs/
.vscode/
.idea/

# Docker
docker-compose.override.yml
docker-compose.debug.yml

# Logs and temporary files
logs/
*.log
*.tmp
*.bak
*.cache
*.lock

# Sensitive files
.env
secrets.json
appsettings.Development.json
appsettings.json
appsettings.*.json


# Dependencies
node_modules/
packages/
wwwroot/lib/

# Compiled binaries
*.exe
*.dll
*.pdb
*.obj
*.exp
*.msi
*.msp
*.map

# NuGet Packages
*.nupkg
packages/

# ReSharper & Rider
.ReSharper*/
.idea/

# Other files
Thumbs.db
Desktop.ini
.DS_Store
